@import '../../styles/colors';
@import '../../styles/selection';
@import '../../styles/fonts';

.footer{
  //@extend .enable-drag;

  position: absolute;
  bottom: 0;
  overflow: hidden;
  width: 100%;

  background: $palette-dark__bg-darker;
  p{
	text-align: center;
	transition: all 300ms linear;
  }
  $dim: 40px;
  .__unified_logo {
	@extend .disable-drag;
	margin: 0 5px -10px 5px;
	height: $dim;
	width: auto;
	cursor: pointer;

	border-radius: $dim /2;
  }

  .logo{
	@extend .__unified_logo;
  }
  .soundcloud{
	@extend .__unified_logo;
  }


}
